In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Datasets/census.data', names=['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification'])

In [3]:
df.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K

In [4]:
df.describe()

                age  capital-loss  hours-per-week
count  29536.000000  29536.000000    29536.000000
mean      38.506094     84.957408       40.243872
std       13.811739    397.107750       12.326211
min       17.000000      0.000000        1.000000
25%       27.000000      0.000000       40.000000
50%       37.000000      0.000000       40.000000
75%       48.000000      0.000000       45.000000
max       90.000000   4356.000000       99.000000

In [5]:
df.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [9]:
df['capital-gain'] = pd.to_numeric(df['capital-gain'], errors='coerce')
df['capital-loss'] = pd.to_numeric(df['capital-loss'], errors='coerce')

In [11]:
df.describe()

/home/faris/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

                age  capital-gain  capital-loss  hours-per-week
count  29536.000000  29532.000000  29536.000000    29536.000000
mean      38.506094    928.454321     84.957408       40.243872
std       13.811739   6557.886804    397.107750       12.326211
min       17.000000      0.000000      0.000000        1.000000
25%       27.000000           NaN      0.000000       40.000000
50%       37.000000           NaN      0.000000       40.000000
75%       48.000000           NaN      0.000000       45.000000
max       90.000000  99999.000000   4356.000000       99.000000

In [12]:
df.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

In [13]:
education_order = ['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th',  '11th', '12th', 'HS-grad', 'Some-college', 'Bachelors', 'Masters',  'Doctorate', ]

In [16]:
df['education_ordering'] = df['education'].astype("category", ordered=True, categories=education_order).cat.codes

In [17]:
df.head()

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification,education_ordering
0,Bachelors,39,2174.0,White,0,40,Male,<=50K,10
1,Bachelors,50,NaN,White,0,13,Male,<=50K,10
2,HS-grad,38,NaN,White,0,40,Male,<=50K,8
3,11th,53,NaN,Black,0,40,Male,<=50K,6
4,Bachelors,28,0.0,Black,0,40,Female,<=50K,10

In [18]:
df = pd.get_dummies(df, columns=['sex', 'race'])

In [19]:
df.head()

,education,age,capital-gain,capital-loss,hours-per-week,classification,education_ordering,sex_Female,sex_Male,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,Bachelors,39,2174.0,0,40,<=50K,10,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,Bachelors,50,NaN,0,13,<=50K,10,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,HS-grad,38,NaN,0,40,<=50K,8,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,11th,53,NaN,0,40,<=50K,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,Bachelors,28,0.0,0,40,<=50K,10,1.0,0.0,0.0,0.0,1.0,0.0,0.0