In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import assignment2_helper as helper

In [42]:
df = pd.read_csv('./Datasets/kidney_disease.csv', index_col=0)

In [43]:
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

df = df.drop(labels=['classification', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'], axis=1)

In [44]:
df.rc = pd.to_numeric(df.rc, errors='coerce')
df.wc = pd.to_numeric(df.wc, errors='coerce')
df.pcv = pd.to_numeric(df.pcv, errors='coerce')

In [48]:
df = pd.get_dummies(df, columns=['classification', 'rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane'])

In [49]:
df.dtypes

age                      float64
bp                       float64
sg                       float64
al                       float64
su                       float64
bgr                      float64
bu                       float64
sc                       float64
sod                      float64
pot                      float64
hemo                     float64
pcv                      float64
wc                       float64
rc                       float64
classification_ckd       float64
classification_ckd\t     float64
classification_notckd    float64
rbc_abnormal             float64
rbc_normal               float64
pc_abnormal              float64
pc_normal                float64
pcc_notpresent           float64
pcc_present              float64
ba_notpresent            float64
ba_present               float64
htn_no                   float64
htn_yes                  float64
dm_\tno                  float64
dm_\tyes                 float64
dm_ yes                  float64
dm_no                    float64
dm_yes                   float64
cad_\tno                 float64
cad_no                   float64
cad_yes                  float64
appet_good               float64
appet_poor               float64
pe_no                    float64
pe_yes                   float64
ane_no                   float64
ane_yes                  float64
dtype: object

In [24]:
leandf.wc = pd.to_numeric(leandf.wc, errors='coerce')

In [25]:
leandf.dtypes

bgr    float64
rc     float64
wc       int64
dtype: object

In [26]:
leandf.describe()

              bgr          rc            wc
count  158.000000  158.000000    158.000000
mean   131.341772    4.891772   8475.949367
std     64.939832    1.019364   3126.880181
min     70.000000    2.100000   3800.000000
25%     97.000000    4.500000   6525.000000
50%    115.500000    4.950000   7800.000000
75%    131.750000    5.600000   9775.000000
max    490.000000    8.000000  26400.000000

In [27]:
leandf.corr()

          bgr        rc        wc
bgr  1.000000 -0.418085  0.212093
rc  -0.418085  1.000000 -0.272390
wc   0.212093 -0.272390  1.000000

In [29]:
leandf.var()

bgr    4.217182e+03
rc     1.039104e+00
wc     9.777380e+06
dtype: float64